<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link href="../static/bootstrap-5.3.0/css/bootstrap.min.css"
          rel="stylesheet"
          th:href="@{bootstrap-5.3.0/css}"
          >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


</head>
<body>
    <div layout:fragment="content">
        <div th:each="c:${listCategories}" class="btn-group">
            <a th:href="@{/index(idCat = ${c.id})}" class="btn btn-primary" th:text="${c.catName}" aria-current="page">Active link</a>
        </div>
    <div class="container">
        <table class="table mt-4">
            <div class="panel-heading">List articles</div>
            <div class="panel-body">
                <form th:action="@{/index(kw=${value})}" method="get">
                    <label>Keyword</label>
                    <input type="text" name="kw" th:value="${kw}"  >
                    <button  type="submit" class="btn btn-primary" > Search</button>
                </form>

            </div>
            <tr>
                <th>Id</th> <th>Description</th> <th>Brand</th> <th>Price</th>
            </tr>

            <tr th:each="a:${listArticle}">
                <td th:text ="${a.id}"> </td>
                <td th:text ="${a.description}"> </td>
                <td th:text ="${a.brand}"> </td>
                <td th:text ="${a.price} + ' €'"></td>
                <td ><a th:href="@{/order(articleId = ${a.id})}" class="material-symbols-outlined">add_shopping_cart</a>Add to cart</td>
                <td>
                    <a th:href="@{/delete(id =${a.id}, page=${currentPage})}" class="btn btn-outline-danger">Delete</a>
                </td>
                <td>
                    <a th:href="@{/article(idArticle =${a.id}, page=${currentPage})}" type="button" class="btn btn-outline-info">Edit</a>
                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == status.index ? 'active' : ''}" th:each="page, status:${pages}">
                    <a class="page-link" th:href="@{/index(page=${status.index}, kw=${param.kw}, idCat=${param.idCat})}" th:text="${status.index}"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>